<br>
<div class="w-75 p-3" style="background-color: #ffffff;">
  <div class="card">
    <div class="card-header">
      <h2><strong>Edit <%= resource_name.to_s.humanize %></strong></h2>
    </div>
    <div class="card-body"> 
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="row">
            <div class="col-sm">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control"  %>
            </div>
            <div class="cold-sm">
            </div>
          </div>
        </div>
        <br>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email", class:"form-control"  %>
        </div>
        <br>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :company %><br />
          <%= f.text_field :company , class:"form-control" %>
        </div>
        
        <% if current_user.role == "Admin" %>
          <br>
          <div class="field">
            <%= f.label :role %><br />
            <%= f.select :role, ["Admin", "Staff"] ,class: "btn btn-danger dropdown-toggle" %>
          </div>
        <% end %>
        <br>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <strong><%= f.password_field :password, autocomplete: "new-password" , class:"form-control" %></strong>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <br>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" , class:"form-control"  %>
        </div>
        <br>
        <div class="field">
          <%= f.label :current_password %> <i><strong>(we need your current password to confirm your changes)</strong></i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" , class:"form-control" %>
        </div>
        <br>
        <%= f.submit "Update",  class:"btn btn-primary"%>
      <% end %> 
    </div>
    <div class="card-footer">
      <div class="actions">
        <table>
          <tr>
            <td><%= link_to "Cancel Edit", :back, class:"btn btn-info btn-large"  %>
            <td><%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger"%>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

