<table class="table table-striped">
    <tr>
        <td><strong><%= sortable "name" %></strong></td>
        <td><strong><%= sortable "owner" %></strong></td>
        <td><strong><%= sortable "quantity" %></strong></td>
        <td><strong><%= sortable "details" %></strong></td>
        <td><strong>Workspace</strong></td>
    </tr>
    <% @items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.owner %></td>
            <td><%= item.quantity %></td>
            <td><%= item.details %></td>
            <td><%= item.workspace.name %>
        </tr>
    <% end %>
</table>