<% @workspace.items.each do |item| %>
    <% if item.finish != true %>
        <tbody class="table table-hover">
        <tr>
            <td><%= item.name %></td>
            <td><%= item.owner %></td>
            <td><%= item.quantity.to_i %></td>
            <td><%= item.details %></td>
            <td><%= image_tag(item.picture_url, width: 300) if item.picture.present? %></td>

            <td><%= link_to 'Open', workspace_item_path(item.workspace, item),class:"btn btn-warning btn-sm" %>

            <% if current_user.role == "Admin" %>
                <td><%= link_to 'Edit', edit_workspace_item_path(item.workspace, item), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'}  %>
                    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content"></div>
                    </div>
                </td>
                <td><%= link_to 'Delete', [item.workspace, item],
                    method: :delete,
                    data: { confirm: 'Are you sure to delete?' } ,class:"btn btn-danger btn-sm"%></td>
        
                <% if @workspace != Workspace.order(:position).last %>
                    <td><%= link_to 'Revert to Previous Phase', workspace_item_previous_path(item.workspace, item),class:"btn btn-dark btn-sm" %></td>    
                    <td><%= link_to 'Move to Next Phase', workspace_item_next_path(item.workspace, item),class:"btn btn-light btn-sm" %></td>
                <% else %>
                    <td><%= link_to 'Revert to Previous Phase', workspace_item_previous_path(item.workspace, item),class:"btn btn-light btn-sm" %></td>
                    <td><%= link_to 'Finish', workspace_item_next_path(item.workspace, item), data: { confirm: 'Are you sure bro?' },class:"btn btn-success btn-sm" %></td>
                <% end %>
            <% end %>
        </tr>
    <% end %>
<% end %>