<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 20rem">
            <div class="card-header">
                <h3>Item Information</h3>
            </div>
            <div class="card-body">
                <p>
                    <strong>Item name:</strong>
                    <%= @item.name %>
                </p>
                <p>
                    <strong>Owner:</strong>
                    <%= @item.owner %>
                </p>
                <p>
                    <strong>Quantity:</strong>
                    <%= @item.quantity.to_i %>
                </p>
                <p>
                    <strong>Details:</strong>    
                    <%= @item.details %>
                </p>

                <p>Image:</p>
                <p><% if !@item.picture.present? %> No Image Uploaded <% end %></p>
                <p><%= image_tag(item.picture_url, width: 300) if @item.picture.present? %></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem">
            <div class="card-header">
                <h3>Due Dates</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <% @item.dues.each do |d| %>
                        <tr>
                            <td><%= d.name %></td>
                            <td><%= d.duedate %></td>
                        </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>                                                                                     
    <div class="col-sm-4">
        <div class="card" style="width: 18rem">
            <div class="card-header">
                <h3>QR Code</h3>
            </div>
            <div class="card-body">
                <%= image_tag ("data:image/png;base64,#{@base64_output}") %>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row"> 
    <div class="col-sm-4">
        <div class="card" style="width: 18rem">
            <div class="card-header">
                <h3>Item Actions</h3>
            </div>
            <div class="card-body">
                <% if current_user.role == "Admin" %>
                    <p><%= link_to 'Edit Item', edit_workspace_item_path(@item.workspace, @item), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'} %>
                    <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content"></div>
                        </div>
                    </div>
                    </p>
                    <p><%= link_to 'Delete Item', [@workspace, @item], method: :delete,
                        data: { confirm: 'Are you sure to delete?' } ,class:"btn btn-sm btn-danger"%></p>
                <% end %>
                <p><%= link_to 'Back to List of Items', workspace_path(@workspace),class:"btn btn-sm btn-info" %></p>
            </div>
        </div>
    </div> 
</div>

